/*
* @Author: 杨旭东
* @Date:   2018-01-17 14:34:09
* @Last Modified by:   杨旭东
* @Last Modified time: 2018-01-20 10:29:06
*/
/* 清除浏览器默认样式 */
*{
	margin:0;
	padding:0;  
}
body{
	background: #f5f5f5;
}
.screen{
	width: 100%;
	height: 13.77rem;
	/* 背景图片 */
	background: url(../img/screen.png) no-repeat left bottom,-webkit-linear-gradient(top,#3bbcff,#47eaff);
	background-size: contain;
}
.header{
	width: 100%;
	height: 1.58rem;
	/* 字体大小 */
	font-size: 0.4rem;
	/* 字体颜色 */
	color: #fff;
	/* 字体加粗 */
	font-weight: bold;
	/* 文本水平居中 */
	text-align: center;
	/* 文本垂直居中 */
	line-height: 1.58rem;
}
/* 父元素加子元素 */
.screen .box{
	width: 2.1rem;
	height: 1.26rem;
	/* 背景颜色 */
	background: rgb(241,171,98);
	border-radius: 0.19rem;
	margin-top: 0.16rem;
	margin-left: 0.27rem;
	/* 内填充 */
	padding: 0.12rem;
	/* 解决填充时盒子变大 */
	box-sizing: border-box;
}
.screen .box h2{
	font-size: 0.3rem;
	color: #fff;
	text-align: center;
}
.screen .box h3{
	font-size: 0.36rem;
	color: #fff;
	text-align: center;
}
.screen .wendu{
	width: 100%;
	height: 1.75rem;
	/* 字体大小 */
	font-size: 1.30rem;
	/* 字体颜色 */
	color: #fff;
	line-height: 1.75rem;
	margin-top: 0.28rem;
	text-align: center;
}
.screen .qingkuang{
	width: 100%;
	height: 1.03rem;
	/* 字体大小 */
	font-size: 0.58rem;
	/* 字体颜色 */
	color: #fff;
	/* 文本水平居中 */
	text-align: center;
	/* 文本垂直居中 */
	line-height: 1.03rem;
}
.screen .shidu{
	width: 100%;
	height: 0.6rem;
	/* 字体大小 */
	font-size: 0.36rem;
	/* 字体颜色 */
	color: #fff;
	/* 文本水平居中 */
	text-align: center;
	/* 文本垂直居中 */
	line-height: 0.6rem;
}
.screen .tishi{
	width: 100%;
	/* 字体大小 */
	font-size: 0.42rem;
	/* 字体颜色 */
	color: #fff;
	/* 文本水平居中 */
	text-align: center;
	margin-top: 1.14rem;
}
.con1{
	width: 100%;
	height: 2.94rem;
	background: #fff;
	border-bottom: 0.03rem solid #e4e4e4;
	padding-top: 0.72rem;
	padding-left: 0.58rem;
	box-sizing:border-box;
}
/* 后代选择器 ：*/
.content{
	width: 4.85rem;
	height: 1.47rem;
	border-right: 0.03rem solid #e4e4e4;
	padding-right: 0.59rem;
	box-sizing: border-box;
	float: left ;
}
/* 伪类选择器选择第二个孩子 ;
第一个孩子：first-child，
最后一个孩子：last-child*/
.con1 .content:nth-child(2){
	padding-right: 0;
	border-right: none;
	padding-left: 0.59rem;
}
.content .top{
	width: 100%;
	height: 0.59rem;
    /* 弹性布局 */
    display: flex;
    /* 两端对齐 */
    justify-content: space-between;
}
.content .top .day{
	font-size: 0.38rem;
	color : #434343;
    line-height: 0.59rem;
}
.content .top .temperture{
	font-size: 0.3rem;
	color: #434343;
	line-height: 0.59rem;
}
.content .bottom{
     width: 100%;
     height:  0.86rem;
	 /* 弹性布局 */
     display: flex;
     /* 两端对齐 */
     justify-content: space-between;
}
.content .bottom .weather{
	font-size: 0.36rem;
	color: #434343;
	line-height: 0.86rem;
}
.content .bottom .pic{
	width:0.48rem;
	height:0.48rem;
    margin-top: 0.2rem;
    /* background: url('../img/0.png') no-repeat; */
    background-repeat:  no-repeat;
    background-size: 0.48rem 0.48rem;
}
.con2{
	width: 100%;
	height: 3.9rem;
	margin-top: 0.27rem;
	border-top: 0.03rem solid #e4e4e4;
	border-bottom: 0.03rem solid #e4e4e4;
	padding:0.9rem  0rem 0.8rem 0;
	box-sizing: border-box;
	/* 水平滚动 超出部分滚动显示*/
	overflow-x: auto;
	background-color: #fff;
}
/* 设置滚动条高度为0 */
.con2::-webkit-scrollbar{
	height: 0;
}
.con2 .wrap{
	height: 100%;
	/* 弹性布局 ，实现横排*/
    display: flex;
    /* 两端对齐 */
    justify-content: space-between;
}
.con2 .wrap .now{
	width: 1.68rem;
	height: 100%;
	/* 禁止盒子缩小 */
	flex-shrink: 0;
    /* 弹性布局 ，实现横排*/
	display: flex;
	/* 改变主轴方向 */
	flex-direction: column;
	/* 两端对齐 */
	justify-content: space-between;
}
.con2 .wrap .now .now_time{
	font-size: 0.24rem;
	text-align: center;
	color: #999;
	font-weight: normal;
}
.con2 .wrap .now .now_icon{
	width: 1rem;
	height: 1rem;
	/* background: url('../img/0.png') no-repeat; */
	background-repeat: no-repeat;
	background-size: 1rem;
	margin: 0 auto;
}
.con2 .wrap .now .now_temperature{
	font-size: 0.28rem;
	text-align: center;
	color: #999;
	font-weight: normal;
}
.con3{
	width: 100%;
	height: 11.22rem;
	background: #fff;
	margin-top: 0.27rem;
	padding:0.72rem  0rem 0.72rem 0;
	box-sizing: border-box;	
	border-top: 0.03rem solid #e4e4e4;
	border-bottom: 0.03rem solid #e4e4e4;
	/* 水平滚动 超出部分滚动显示*/
	overflow-x: auto;
}
/* 设置滚动条高度为0 */
.con3::-webkit-scrollbar{
		height: 0;
}
.con3 .wrap{
	height: 100%;
	/* 弹性布局 ，实现横排*/
    display: flex;
    /* 两端对齐 */
    justify-content: space-between;
}
.con3 .wrap .recent{
	width: 2.5rem;
	height: 100%;
	/* 禁止盒子缩小 */
	flex-shrink: 0;
    /* 弹性布局 ，实现横排*/
	display: flex;
	/* 改变主轴方向 */
	flex-direction: column;
	/* 两端对齐 */
	justify-content: space-between;
}
.con3 .wrap .recent .recent_time{
	 
	font-size: 0.24rem;
    color : #888;
    text-align: center; 
    font-weight: normal;
}
.con3 .wrap .recent .recent_wea{

	font-size: 0.36rem;
    color: #333;
    text-align: center; 
    font-weight: normal;
}
.con3 .wrap .recent .recent_pic{
	width: 1rem;
	height: 1rem;
	/* background: url('../img/0.png') no-repeat; */
	background-repeat: no-repeat;
	background-size: 1rem;
	margin: 0 auto;
}
.con3 .wrap .recent .recent_hight{
	font-size: 0.36rem;
    color: #888;
    text-align: center; 
    font-weight: normal;
    
}
.con3 .wrap .recent .recent_low{
	font-size: 0.36rem;
    color: #888;
    text-align: center; 
    font-weight: normal;
}
.con3 .wrap .recent .recent_wind{
	font-size: 0.36rem;
    color: #888;
    text-align: center; 
    font-weight: normal;
}
.con3 .wrap .recent .recent_level{
	font-size: 0.36rem;
    color: #888;
    text-align: center; 
    font-weight: normal;
}
.city_box{
	width: 100%;
	height:200rem;
	position: absolute;
	top: 0;
	left:0;
	background:#fff ;
	overflow-y: auto;
}
.city_box .sousuo_box{
	width: 100%;
	height: 1.26rem;
	padding: 0.18rem 0.49rem 0.18rem 0.35rem;
	border-bottom: 0.04rem solid #e4e4e4;
	box-sizing: border-box;
	/* 弹性布局 */
    display: flex;
    /* 两端对齐 */
    justify-content: space-between;
}
.city_box .sousuo_box .search_box{
	width: 8.62rem;
	height: 0.86rem;
	border-radius: 0.43rem;
	background: #f2f2f2;
}
.city_box .sousuo_box .button{
	font-size: 0.36rem;
	color: #434343;
	padding:0.13rem ;
}
/* 引入自定义字体 */
.icon{
	font-size: 0.6rem;
	float: left;
	margin-top: 0.15rem;
	margin-left: 0.2rem;
}
.text{
	width: 7.2rem;
	height: 100%;
	border: none;
	float: left;
	padding-left: 0.28rem;
	box-sizing: border-box;
	background: #f2f2f2;
}
.text:focus{
	outline: none;
}
.city{
	width: 100%;
	height: 14rem;
	padding: 0.24rem 0.35rem 0 0.36rem ;
	box-sizing: border-box;
}
.city .title{
	width: 100%;
	height: 1.16rem;
	font-size: 0.38rem;
	color: #434343;
	line-height: 1.16rem;
	/* 字间距 */
	letter-spacing: 0.03rem;
}
.city .con{
	width: 100%;
	/* 由内容撑开盒子高度 */
	height: auto;
	/* 超出部分隐藏 */
	overflow: hidden;
}
.city .con .son{
	width: 3.17rem;
	height:0.8rem ;
	background: #f2f2f2;
	border-radius: 0.4rem;
	font-size: 0.32rem;
	color: #434343;
	text-align: center;
	line-height: 0.8rem;
	float: left;
	margin:0 0.25rem 0.21rem 0;
}
.city .con .son:nth-child(3n){
	margin-right: 0;
}